html {
  font-family: verdana;
  background: black;
  color: white;
  text-align: center;
  -webkit-margin-before: 0.67em;
  -webkit-margin-after: 0.67em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;

}

h1 {
  font-weight: normal;
  font-size: 50px;
}

h2 {
  font-size: 42px;
  font-weight: 300;
}

p {
  color: grey;
  font-size: 21px;
}

a{
  font-size: 16px;
  color: aquamarine;
}

footer {
  text-align: right;
}

.camp_photo {
  max-width: 100%;
  height: auto;
}


/* Popup container */
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    font-size: 16px;
    color: aquamarine;
    text-decoration: underline;
}

/* The actual popup (appears on top) */
.popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}
